@font-face{
    font-family: "Lexend Mega," sans-serif;
    src: url(https://fonts.google.com/specimen/Lexend+Mega);
}

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Lexend Mega", sans-serif;
}

.navbar{
    display: flex;
    justify-content: flex-end;
}

.first{
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

}

.header{
    background-image: url(https://user-images.githubusercontent.com/144336453/277989796-fc9f7185-cb58-449d-933c-8b4d33e893e6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#rest{
    background-color: black;
}

a{
    background-color: transparent;
    float: right;
    margin: 20px;
    text-decoration: none;
    color: white;
    font-family: "Lexend Mega", sans-serif;
    font-size: 20px;
}
a:hover{
  color: whitesmoke;
}

h1{
    background-color: transparent;
    color: white;
    font-family: "Lexend Mega", sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 450px;
    letter-spacing: 20px;
}

.video{
    text-align: center;
}

.second{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-family: "Lexend Mega", sans-serif;
    font-size: 28px;
    letter-spacing: 8px;
}

.short-description{
